<div style="margin-top:2em;">
	<div class="pull-left" style="margin-right:5em;">
		<div class="well">
			<h1>Angular Tetris</h1>
			<hr>
			<p>
				Honestly, why did I shove Tetris into an angular project?
			</p>
			<hr>
			<dl class="dl-horizontal">
				<dt>Move Piece</dt>
				<dd><code>&larr; &darr; &rarr;</code></dd>
				<dt>Rotate Piece</dt>
				<dd><code>Ctrl</code></dd>
				<dt>Drop Piece</dt>
				<dd><code>Space</code></dd>
				<dt>Play/Pause</dt>
				<dd><code>p</code></dd>
			</dl>
		</div>
		<keys
			move-right="moveRight"
			move-left="moveLeft"
			move-down="moveDown"
			play-pause="playPause"
			drop="drop"
			rotate="rotate"></keys>
	</div>
	<div class="pull-left">
		<stage></stage>
		<div class="input-group" style="width:410px;">
			<div class="form-control">
				The game is 
				<span ng-show="isRunning()">running</span>
				<span ng-show="!isRunning()">paused</span>
			</div>
			<span class="input-group-btn">
				<button ng-click="start()" ng-if="!isRunning()" class="btn btn-success">
					<i class="glyphicon glyphicon-play"></i>
				</button>
				<button ng-click="stop()" ng-if="isRunning()" class="btn btn-default">
					<i class="glyphicon glyphicon-pause"></i>
				</button>
			</span>
		</div>
	</div>
</div>
